extend layout

block head
   link(href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css')
   script(type="text/javascript", src="data/game.js")
   != js("console")
   != js("pages/home")

block content
   
   .console
      .console-scrollbar
         .console-body(data-bind="foreach: lines")
            span.line(data-bind="html: $data")

      .console-prompt
         span.console-prompt-text &gt;
         input.console-prompt-input(type="text", data-bind="onEnter: parseInput, value: input, valueUpdate: 'afterkeydown'")