extend layout

block head
   != js("console")
   != js("pages/home")

block content
   
   .top-highlight

   .header
      a.login(href="/login") Login
      .title
         .rest I'd like fries with
         .that That
      .title-separator
      .description
         | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur, nunc vitae fermentum ultrices, lectus arcu placerat elit, vel laoreet neque eros non neque. Maecenas varius mi sem, vitae faucibus tellus hendrerit eget. Mauris justo odio, fermentum et accumsan at, tincidunt et metus. Nam posuere sapien id neque vehicula lacinia. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam tincidunt eros quis ornare lacinia. Cras pharetra nunc eu enim facilisis, id dignissim metus mattis. Praesent sed odio ante. Etiam eros est, commodo eget cursus eget, volutpat eget nibh.
      
      .button-wrap
         span#playButton.play-button
            span.text Play the Game
            span.arrow

   .divider

   .console
      .console-scrollbar(data-bind="foreach: lines, stickyScroll: lines")
         .line(data-bind="html: $data")

      .console-prompt
         span.console-prompt-text &gt;
         input.console-prompt-input(type="text", data-bind="onEnter: parseInput, value: input, valueUpdate: 'afterkeydown'")
            