
yellow = #ebdf92

trans-green-yellow = #b5b57e
highlight-green = #2bc2b1
dark-green = #33524f

dark-purple = #452632
med-purple = #681435
highlight-purple = #91204d
trans-purple-yellow = #e8bf56
off-white = #e2f7ce

primary-dark = dark-purple
primary-highlight = highlight-purple
transition-color = trans-purple-yellow

console-border-color = #54307c
console-background-color = dark-purple
console-text-color = off-white
console-object-color = #bbc202
console-room-color = #e50961
console-comment-color = trans-purple-yellow

// console-border-color = #443931
// console-background-color = #e0e4cc
// console-text-color = #443931
// console-object-color = #ab4801
// console-room-color = #3d7a86